html, body {
    background-color: #5e2129 ;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.bg-color {
    color: black
}

.card-new {
    border-radius: 0px 0px 25px 25px;
}

.vino {
    background: #5e2129 ;
    color: white;
}

.span {
    color: white;
    padding: 5px;
    border-radius: 10px !important;
    cursor: progress;
}

.span:hover {
    background: burlywood;
}

#select {
    width: 100%;
}